@charset "utf-8";

$baseBackgroundColor: #32cd74;
$baseFontColor: #fff;
$baseFontHoverColor: #9a6a16;

%transition-all {
  transition: all .2s;
}

%clear-fix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

%base-line-height {
  $h: 25px;
  height: $h;
  min-height: $h;
  max-height: $h;
  line-height: $h;
}

@mixin apply-to-icon {
  [class^="st-icon-"], [class*=" st-icon-"] {
    @content
  }
}

#__selection-translator__ {

  // 通用样式
  &, & * {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
  }

  st-header, st-div, st-footer, st-ul, st-li {
    display: block;
  }

  st-span {
    display: inline;
  }

  textarea {
    color: #000;
    background-color: #fff;
    height: 40px;
    min-height: 40px;
  }

  @include apply-to-icon {
    color: $baseFontColor;
    cursor: pointer;

    &, &:before {
      @extend %transition-all;
    }

    &:hover {
      color: $baseFontHoverColor;
    }
  }

  // 翻译窗口的样式
  > .__st-box__ {
    min-width: 250px;
    background-color: $baseBackgroundColor;
    border: 1px solid $baseBackgroundColor;

    button, select, textarea {
      border: 0;
      border-radius: 0;
      padding: 0;
    }

    select, button {
      width: 45%;
    }

    select, button {
      @extend %base-line-height;
    }

    button {
      margin-left: 10%;
      text-align: center;
    }

    // header
    > st-header {
      height: 50px;
      line-height: 50px;

      .st-icon-pin:before {
        transform: rotate(0deg);
      }
      .__pinned__.st-icon-pin:before {
        transform: rotate(-45deg);
      }

      @include apply-to-icon {
        font-size: 22px;
      }
    }

    // 查询表单
    > .__query-form__ {

      > st-div {
        margin-bottom: 5px;
        @extend %clear-fix;

        > * {
          float: left;
        }

        st-div {
          @extend %base-line-height;
          width: 10%;
          text-align: center;
        }
      }

      textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 2px;
      }

    }

    // 翻译结果
    > .__translate-result__ {
      color: #000;
      padding: 10px;
      background-color: $baseFontColor;

      > div:not(:last-child) {
        margin-bottom: 5px;
      }

      .__copy-and-read__ > st-span {
        @extend %transition-all;
        display: inline-block;
        margin-right: 10px;
        height: 16px;
        line-height: 16px;
        cursor: pointer;
        opacity: 0;
        color: #12813e;
        font-size: 12px;
      }

      &:hover .__copy-and-read__ > st-span {
        opacity: 1;
      }
    }

    // footer
    > st-footer {
      padding: 5px 10px;
      text-align: right;

      &, & a {
        color: $baseFontColor;
      }
      a {
        @extend %transition-all;
        text-decoration: none;
      }
      a:hover {
        color: $baseFontHoverColor;
      }
    }
  }

  // 翻译按钮的样式
  > .__st-btn__ {
    $w: 20px;
    width: $w;
    height: $w;
    line-height: $w;
    color: $baseFontColor;
    text-align: center;
    cursor: pointer;
    background-color: $baseBackgroundColor;
  }
}
