@charset "utf-8";

%clear-fix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

%normal-line-height {
  $h: 25px;
  height: $h;
  min-height: $h;
  max-height: $h;
  line-height: $h;
}

#__selection-translator__ {
  $baseBackgroundColor: #32cd74;
  $baseFontColor: #fff;
  font-size: 14px;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  text-align: left;

  // 通用样式
  &, & * {
    box-sizing: border-box;
  }

  // 翻译窗口的样式
  > .__st-box__ {
    min-width: 250px;
    background-color: $baseBackgroundColor;
    border-left: 1px solid $baseBackgroundColor;
    border-right: 1px solid $baseBackgroundColor;

    button, select, textarea {
      border: 0;
      border-radius: 0;
      padding: 0;
    }

    select, button {
      width: 45%;
    }

    select, button {
      @extend %normal-line-height;
    }

    button {
      margin-left: 10%;
    }

    > header {
      height: 50px;
      line-height: 50px;
    }

    > .__query-form__ {

      > div {
        margin-bottom: 5px;
      }

      textarea {
        display: block;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 2px;
      }

      > .__horizontal__ {
        @extend %clear-fix;

        > * {
          float: left;
        }

        div {
          @extend %normal-line-height;
          width: 10%;
          text-align: center;
        }
      }

    }

    > .__translate-result__ {
      padding: 10px;
      background-color: $baseFontColor;
    }

    > footer {
      padding: 5px 10px;
      text-align: right;

      &, & a {
        color: $baseFontColor;
      }
    }
  }

  // 翻译按钮的样式
  > .__st-btn__ {
    $w: 20px;
    width: $w;
    height: $w;
    line-height: $w;
    color: $baseFontColor;
    text-align: center;
    cursor: pointer;
    background-color: $baseBackgroundColor;
  }
}
