<div>
  <div class="st-box" :style="boxStyle">
    <div>
      <input type="text" v-model="query.text" placeholder="输入要翻译的句子或单词">
      <select v-model="query.from">
        <option value="">自动判断</option>
        <option value="en">英语</option>
      </select>
      <select v-model="query.to">
        <option value="">自动选择</option>
        <option value="zh">中文</option>
      </select>
      <select v-model="query.api">
        <option value="YouDao">有道翻译</option>
        <option value="BaiDu">百度翻译</option>
      </select>
      <button type="button" @click="translate">翻译</button>
    </div>
    <div v-show="loading">正在查询，请稍候……</div>
    <div v-else>
      <div v-show="result.phonetic">
        <span v-text="result.phonetic"></span>
        <span @click="play(query.text,true)">朗读</span>
        <span @click="copy(result.phonetic)">复制</span>
      </div>
      <div>
        <ul v-show="result.detailed && result.detailed.length">
          <li v-for="d in result.detailed" v-text="d"></li>
        </ul>
        <span @click="copy(result.detailed)">复制</span>
      </div>
      <div v-show="result.result">
        <div v-text="result.result"></div>
        <span @click="play(query.result)">朗读</span>
        <span @click="copy(result.result)">复制</span>
      </div>
      <div>via <a :href="result.linkToResult" target="_blank" v-text="result.api.name"></a></div>
    </div>
  </div>
  <div class="st-btn" :style="btnStyle">译</div>
</div>
