/*这是一个重置可继承css属性的列表
 * 将这些属性设置为 initial ，可以阻止它们影响子元素
 * 在扩展里，需要为 lmk-container 阻止这些继承
 */
lmk-container {
    border-collapse: initial;
    border-spacing: initial;
    caption-side: initial;
    color: initial;
    cursor: initial;
    direction: initial;
    empty-cells: initial;
    font-family: initial;
    font-size: initial;
    font-weight: initial;
    font-style: initial;
    font-variant: initial;
    font: initial;
    letter-spacing: initial;
    list-style-type: initial;
    list-style-position: initial;
    list-style-image: initial;
    list-style: initial;
    line-height: initial;
    orphans: initial;
    page-break-inside: initial;
    quotes: initial;
    text-align: initial;
    text-indent: initial;
    text-transform: initial;
    visibility: initial;
    white-space: initial;
    widows: initial;
    word-spacing: initial;
}

lmk-container, lmk-container * {
    box-sizing: initial;
}

/*重置浏览器默认样式结束*/

lmk-container {
    display: none;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    min-width: 150px;
    max-width: 250px; /*缩小一点*/
    position: fixed;
    z-index: 99999;
    /*left: 0;*/
    /*top: 0;*/
    right: 0; /* 防止内容跑到右侧里面去 */
    background-color: #32cd74;
    border: 1px solid #32cd74;
    box-shadow: 2px 2px 6px #89cda6;
    font-size: 14px;
}

lmk-container.lmk-show {
    display: block;
}

lmk-wait {
    text-align: center;
    display: block;
    color: #fff;
}

lmk-move {
    display: block;
    /*width: 100%;*/
    height: 50px;
    cursor: move;
}

lmk-retry {
    color: blue;
    cursor: pointer;
}

lmk-phonetic-text {
    margin-left: 10px;
}

lmk-icon-setting, lmk-icon-list, lmk-enable, lmk-disable, lmk-icon-copy, lmk-icon-play, lmk-icon-pin {
    background-image: url(chrome-extension://__MSG_@@extension_id__/theme/icon.png);
    background-repeat: no-repeat;
}

lmk-icon-pin {
    cursor: pointer;
    transform: rotate(45deg);
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    background-position: -10px -87px;
    width: 21px;
    height: 21px;
    transition: all .2s;
}

/* :hover 比 css类优先级高，需要覆盖*/
lmk-icon-pin.lmk-pined {
    transform: rotate(0deg);
}

/*lmk-icon-pin.lmk-pined:hover {
    transform: rotate(13deg);
}*/

/*lmk-icon-pin:hover, lmk-icon-pin.lmk-pined:hover {*/
/*transform: rotate(13deg);*/
/*}*/

lmk-icon {
    display: inline-block;
    width: 40px;
    height: 50px;
    float: right;
    transition: all .2s;
    cursor: pointer;
}

lmk-icon:hover {
    background-color: #fff;
}

lmk-icon-setting, lmk-icon-list {
    display: block;
    transition: all .2s;
}

lmk-icon-setting {
    width: 22px;
    height: 22px;
    background-position: -50px -10px;
    margin: 14px auto; /* ( 50 - 22 ) / 2 */
}

lmk-icon:hover lmk-icon-setting {
    background-position: -50px -50px;
}

lmk-icon-list {
    width: 18px;
    height: 18px;
    background-position: -10px -10px;
    margin: 16px auto; /* ( 50 - 18 ) / 2 */
}

lmk-icon:hover lmk-icon-list {
    background-position: -10px -50px;
}

lmk-content {
    display: block;
    box-sizing: border-box;
    padding: 10px 0;
    overflow-y: auto;
    background-color: #fff;
    max-height: 280px;
}

lmk-section {
    display: block;
    line-height: 20px;
    position: relative;
    padding: 15px 10px;
    min-height: 30px;
    /*border: 1px solid transparent;*/
    transition: all .2s;
}

lmk-section:hover {
    /*border-color: tomato;*/
    background-color: #f9f9f9;
}

lmk-icon-copy, lmk-icon-play {
    width: 35px;
    /*height: 20px;*/
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /*transition: all .2s;*/
    padding-left: 15px;
    height: 20px;
    line-height: 20px;
    color: #12813e;
}

lmk-icon-copy {
    overflow: hidden;
}

lmk-section:hover lmk-icon-copy, lmk-section:hover lmk-icon-play {
    opacity: 1;
}

lmk-icon-play {
    /*width: 14px;*/
    /*height: 14px;*/
    line-height: 20px;
    background-position: -90px -7px;
    position: static;
    opacity: 1;
    margin-left: 10px;
}

lmk-icon-play::after, lmk-icon-copy::after {
    font-size: 14px;
}

lmk-icon-play::after {
    content: "朗读";
}

lmk-icon-copy::after {
    content: "复制";
}

lmk-icon-copy.lmk-copy {
    width: 45px;
}

lmk-icon-copy.lmk-copy::after {
    content: "已复制";
}

lmk-icon-copy {
    /*width: 12px;*/
    /*height: 16px;*/
    background-position: -90px -48px;
    right: 0;
    bottom: 2px; /* ( 20 - 16 ) / 2 */
    transition: all .2s;
}

lmk-footer {
    padding: 0 11px;
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    overflow: hidden;
}

lmk-switch {
    float: left;
    height: 60px;
    width: 60px;
    cursor: pointer;
    transition: all .2s;
}

lmk-switch.lmk-close {
    transform: translateY(-30px);
}

lmk-enable, lmk-disable {
    padding-left: 20px;
    display: block;
    float: left;
}

lmk-enable {
    background-position: -143px -42px;
}

lmk-disable {
    background-position: -142px -2px;
}

lmk-a {
    cursor: pointer;
    float: right;
    transition: all .2s;
}

lmk-a:hover {
    color: #9a6a16;
}

lmk-list {
    display: block;
    opacity: 0;
    position: absolute;
    z-index: 99999;
    left: 250px;
    top: -1px;
    width: 0;
    overflow: hidden;
    transition: all .4s;
    background-color: #fff;
    color: #12813e;
    text-align: center;
    border: 1px solid #32cd74;
    box-shadow: 2px 2px 6px #89cda6;
    padding: 2px 0;
    cursor: default;
}

lmk-icon.lmk-list {
    border-bottom: 1px solid #32cd74;
    box-sizing: border-box;
}

lmk-icon.lmk-list:hover lmk-list {
    opacity: 1;
    width: 140px;
}

lmk-list-item {
    margin: 1px 0;
    display: block;
    font-size: 15px;
    white-space: nowrap;
    /*height: 22px;*/
    /*line-height: 22px;*/
    padding: 7px 0;
    cursor: pointer;
    transition: all .2s;
}

lmk-list-item:hover {
    /*transition: all .2s;*/
    color: #18b255;
    background-color: #f9f9f9;;
    /*color: #fff;*/
    /*background-color: #32cd74;*/
}

lmk-ad {
    padding: 0 10px;
    display: block;
}

lmk-ad lmk-a {
    float: none;
    color: #7373d0;
}
