#_container_, #_container_ * {
    margin: 0;
    padding: 0;
    border: 0;
    color: black;
    text-align: left;
}

li {
    list-style-type: none;
}

#_container_ {
    line-height: 1;
    top: 0;
    left: 0;
    position: absolute;
    max-width: 400px;
    min-width: 200px;
    display: none;
    z-index: 99999;
    background-color: hsla(0, 0%, 100%, 0.90);
    border: 1px solid #8b8b8b;
    padding: 10px 25px 5px 25px;
    color: #555;
    font-size: 16px;
}

#_container_ :empty {
    display: none;
}

#_container_ ._pronunciation_ {
    font-size: 12px;
    padding: 5px 0 0 0;
}

#_container_ ._play_ {
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
    cursor: pointer;
}

#_container_ ._query_ {
    font-size: 26px;
    line-height: 36px;
    white-space: nowrap;
    color: white;
    background-color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: move;
}

#_container_ ._title_ {
    border-bottom: 1px solid black;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Microsoft YaHei', sans-serif !important;
}

#_container_ ._content_ {
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
}

#_container_ ._copy_ {
    cursor: pointer;
    float: left;
    display: none;
    color: #008fff;
}

#_container_:hover ._copy_ {
    display: inline;
}

#_container_ ._from_ {
    margin-top: 10px;
    font-size: 9px;
    text-align: right;
    font-family: 'Microsoft YaHei', sans-serif !important;
}

#_container_ a {
    text-decoration: none;
    color: #618dff;
    transition: color .2s ease-in-out;
}

#_container_ a:hover {
    color: black !important;
}
