* {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #15c;
    text-decoration: none;
}

body {
    font-size: 16px;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    cursor: default;
}

ul, ol {
    list-style-type: none;
}

[type="checkbox"] {
    position: relative;
    top: 1px;
    margin-right: 4px;
}

ol li {
    padding-left: 20px;
    margin: 5px 0;
}


li.bottom {
    margin-top: 30px;
}

ul li {
    height: 34px;
    line-height: 34px;
    color: #999;
    cursor: pointer;
    /*margin: 15px 0;*/
}

nav, main {
    position: absolute;
    top: 0;
    bottom: 0;
}

nav {
    width: 15%;
    left: 0;
    font-size: 18px;
}

nav header {
    color: rgb(92, 97, 102);
    font-size: 20px;
    padding: 20px 0 20px 26px;
}

nav li a {
    padding-left: 26px;
    display: block;
    color: #999;
}

nav li a:visited {
    color: #999;
}

nav li a.on {
    color: #464e5a;
    border-left: 6px solid #4e5764;
    padding-left: 20px;
    cursor: default;
}

main {
    width: 85%;
    left: 15%;
    right: 0;
    overflow-y: auto;
}

main > section {
    max-width: 738px;
    display: none;
}

main > section:target {
    display: block;
}

main header {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    font-size: 20px;
}

main h3 {
    font-weight: normal;
    font-size: 17px;
    margin-top: 20px;
}

main .group p {
    font-size: 16px;
    color: rgb(48, 57, 66);
    line-height: 20px;
    padding: 8px 0;
}

.group {
    padding-left: 15px;
    padding-top: 10px;
}

#defaultTo {
    color: #f04;
}

main .group p.mt {
    padding: 4px 0;
}

#hi p {
    text-indent: 2em;
}

#donate p {
    line-height: 22px;
    margin: 8px 0;
}

table {
    /*min-width: 1000px;*/
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.td3 {
    text-align: right;
    padding-right: 2%;
    min-width: 40px;
}
