* {
    margin: 0;
    padding: 0
}

input, button, textarea, select {
    outline: none;
}

li {
    list-style-type: none
}

body {
    min-width: 280px;
}

#query {
    display: block;
    width: 93%;
    margin: 2% auto;
    padding: 1.5%;
    transition: all .2s ease-in-out;
    border: 1px solid black;
}

#query:focus {
    border-color: #b7bbbe;
    box-shadow: 0 0 3px #6f6b61;
}

.q {
    width: 97%;
    margin: 0 auto;
    line-height: 1.5;
    font-size: .8em;
    overflow: hidden;
    padding-left: .7%;
}

.q .r {
    position: relative;
    top: .2em;
}

.q select, .q button {
    line-height: 1.5;
}

#tran {
    float: right;
    padding: 0 2%;
}

body > header {
    color: white;
    background-color: black;
    font-size: 1.5em;
    line-height: 1.5;
    padding-left: 1.8%;
    font-family: '微软雅黑', sans-serif;
}

body > footer {
    background-color: black;
    font-size: .6em;
    text-align: right;
    line-height: 1.6;
    font-family: 'Microsoft YaHei', sans-serif;
    cursor: pointer;
    color: white;
    transition: color .2s ease-in-out;
    padding-right: 2%;
}

body > footer:hover {
    color: red
}

#result {
    font-size: .8em;
    width: 96%;
    margin: 2% auto;
    line-height: 1.5;
    /*display: none;*/
}

#result dt {
    font-family: '微软雅黑', sans-serif;
}

#result dt:not(.word) {
    border-bottom: 1px solid black;
    font-size: 1.2em;
    margin-top: 1.5%;
    margin-bottom: .5%;
}

#result .word {
    font-size: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#result dd {
    padding-left: 4%;
}

#result .via {
    overflow: hidden;
    font-size: .8em;
    padding-left: 0;
    font-family: '微软雅黑', sans-serif;
}

#result .via a {
    float: right;
    text-decoration: none;
    color: #4d4538;
    transition: color .2s ease-in-out;
}

#result .via a:hover {
    color: #c77904;
}

#result .via .play {
    color: #02a2ee;
    cursor: pointer;
}

option[disabled] {
    display: none;
}
