* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, input, textarea, button, select {
    font-family: "Microsoft YaHei", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    font-size: 14px;
    width: 240px;
    min-height: 400px;
}

.wrap {
    padding: 5px;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    max-height: 120px;
    padding: 3px;
}

form > div {
    margin-bottom: 10px;
}

#from, #to {
    width: 47%;
    height: 24px;
    padding-left: 3px;
}

#to {
    float: right;
}

button {
    width: 47%;
    font-size: 14px;
    padding: 2px 0;
    cursor: pointer;
}

#read {
    float: right;
}

#result > div {
    margin: 12px 0;
}

.result-from {
    text-align: right;
}

#switch {
    /*position: absolute;
    left: 0;
    right: 0;
    bottom: 0;*/
    padding-left: 5px;
    background-color: #32cd74;
    color: #fff;
    line-height: 24px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

#switch .switch-close {
    display: none;
}

#switch.now-is-close .switch-open {
    display: none;
}

#switch.now-is-close .switch-close {
    display: inline-block;
}

.action {
    margin-left: 10px;
    display: none;
}

#result > div:hover .action {
    display: inline-block;
}

.action i {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-style: normal;
    font-size: 12px;
    margin-right: 5px;
    padding: 1px 5px;
    background-color: rgba(204, 204, 204, 0.2);
    border-radius: 4px;
}

.action i:last-child {
    margin-right: 0;
}
