@font-face {
  font-family: 'selection-translator';
  src: url('../font/selection-translator.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'selection-translator';
    src: url('../font/selection-translator.svg#selection-translator') format('svg');
  }
}
*/

st-span[class^="st-icon-"]:before, st-span[class*=" st-icon-"]:before {
  font-family: "selection-translator";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.st-icon-cog:before { content: '\e800'; } /* '' */
.st-icon-pin:before { content: '\e801'; } /* '' */
.st-icon-github-circled:before { content: '\e802'; } /* '' */
.st-icon-exchange:before { content: '\e803'; } /* '' */
.st-icon-down-open:before { content: '\e804'; } /* '' */
.st-icon-down-dir:before { content: '\e805'; } /* '' */
