<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>右上角的按钮弹出页</title>
        <link rel="stylesheet" href="css/popup.css" />
    </head>
    <body>
        <!--切换网页划词翻译开关 S-->
        <div id="switch">划词翻译已<b class="switch-open">开启</b><b class="switch-close">关闭</b></div>
        <!--切换网页划词翻译开关 E-->
        <div class="wrap">
            <!--查询表单 S-->
            <form id="translateForm" autocomplete="off">
                <div>
                    <textarea id="translateText" placeholder="翻译快捷键：Ctrl + Enter" required></textarea>
                </div>
                <div>
                    选择翻译引擎： <select id="chooseApi">
                    <option value="youdao">有道</option>
                    <option value="baidu">百度</option>
                    <option value="google_cn">谷歌(国内)</option>
                    <option value="google">谷歌(国外)</option>
                </select>
                </div>
                <div>
                    <input id="from" placeholder="选择源语言" /> -
                    <input id="to" placeholder="选择目标语言" />
                </div>
                <button id="translate">翻译</button>
                <button type="button" id="read">朗读</button>
            </form>
            <!--查询表单 E-->
            <!--查询结果 S-->
            <div id="result"></div>
            <!--查询结果 E-->
        </div>
        <!--查询结果的模板 S-->
        <script type="text/x-dot-template" id="template">
            {{? it.error }}
            <div class="error-msg">{{= it.error }}</div>
            {{?? }}
            {{ if ( it.phonetic ) { }}
            <div class="phonetic"><span class="text">{{= it.phonetic }}</span><span class="action"><i data-action="copy">复制</i></span></div>
            {{ } }}
            {{ if ( it.detailed ) { }}
            <div class="detailed"><span class="text">{{= it.detailed }}</span><span class="action"><i data-action="copy">复制</i></span></div>
            {{ } }}
            <div class="result"><span class="text">{{= it.result }}</span><span class="action"><i data-action="copy">复制</i><i data-action="read">朗读</i></span></div>
            <div class="result-from">via <a href="{{= it.linkToResult }}" target="_blank">{{= it.api.name }}</a></div>
            {{? }}
        </script>
        <!--查询结果的模板 E-->
        <script src="js/lib/require.js"></script>
        <script src="js/popup.js"></script>
    </body>
</html>
